* {
    margin: 0;
    padding: 0;
    font-family: "Source Serif Pro", "Noto Serif SC", -apple-system, "SF UI Text", "PingFang SC", "Microsoft YaHei",
        "WenQuanYi Micro Hei", sans-serif;
    font-weight: 400;
}

.projects::-webkit-scrollbar {
    height: 8px;
}

.projects::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(32, 33, 34);
}

.projects::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(55, 57, 58);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgb(32, 33, 34);
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(55, 57, 58);
}

html,
body,
#main {
    height: 100%;
    background-color: rgb(41, 42, 43);
    color: rgb(232, 232, 232);
}

body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgb(155, 208, 255);
}

.dbtn,
.payBox img {
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.pay,
.payBox,
#loading,
#main {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#main {
    max-width: 1000px;
    width: 80%;
    padding-top: 5%;
    margin: 0 auto;
    box-sizing: border-box;
}

#loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgb(41, 42, 43);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(197, 197, 197);
}

.loadingClose {
    opacity: 0;
    visibility: hidden;
}

#loading > div {
    text-align: center;
}

#loading > div p:first-of-type {
    font-size: 3rem;
    animation: loading 1s infinite;
    -webkit-animation: loading 1s infinite;
}

/* 加载跳动动画 */
@keyframes loading {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.introduce {
    color: rgb(197, 197, 197);
}

.introduce h1 {
    margin-bottom: 20px;
}

.introduce > p {
    margin: 20px 0;
}

.projects {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 30px 0;
    font-size: 0.95rem;
    padding: 10px 0;
}

.projects > a {
    display: block;
    min-width: 210px;
    width: 210px;
    margin-right: 10px;
    position: relative;
    background-color: rgb(32, 33, 34);
    padding: 10px 20px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: rgb(197, 197, 197);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.projects > a:hover {
    background-color: rgb(55, 57, 58);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.projects .star {
    position: absolute;
    top: 8px;
    right: 10px;
    margin: 0;
}

.projects .description {
    margin-top: 10px;
    font-size: 0.8rem;
    color: rgb(155, 155, 155);
}

.btn {
    width: 2.4rem;
}

.btn:hover {
    width: 10rem;
}

.pay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}

.payShow {
    opacity: 1;
    visibility: visible;
}

.payBox {
    max-width: 600px;
    width: 80%;
    padding: 20px 20px 60px;
    background-color: rgb(41, 42, 43);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 100px auto 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
}

.payBoxShow {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.payBox .title {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.payBox .title img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}

.payBox .content {
    padding: 30px;
}

.payBox p {
    margin: 5px 0;
}

.payBox .imgs {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.payBox img {
    height: 200px;
    margin-right: 5px;
    cursor: pointer;
}

.payBox img:hover {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

.dbtn {
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(32, 33, 34);
    color: rgb(232, 232, 232);
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    white-space: nowrap;
}

.dbtn:hover {
    background-color: rgb(55, 57, 58);
}

.payBox .dbtn {
    float: right;
}

.list {
    margin-top: 50px;
    border-top: 1px solid rgb(74, 74, 74);
}

.list > .title {
    margin: 30px 0 10px;
}

.friends {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}

.friends > div {
    padding: 10px;
    background-color: rgb(32, 33, 34);
    margin: 0 10px 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    user-select: none;
    align-self: flex-start;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.friends > div:hover {
    background-color: rgb(55, 57, 58);
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.friends .header {
    display: flex;
    align-items: center;
}

.friends .header > p {
    margin-right: 10px;
}

.friends .header img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
}

.friends .footer {
    max-width: 200px;
    margin-top: 5px;
    font-size: 0.8rem;
    color: rgb(155, 155, 155);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /*数字是几就显示几行*/
    -webkit-box-orient: vertical;
}

.priceAndCoffee {
    position: relative;
    white-space: nowrap;
}

.priceAndCoffee > p {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.price {
    opacity: 0;
}

.coffee {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.coffeeShow {
    opacity: 1;
}

/* 点不开的按钮 */
#QButton {
    width: 200px;
    height: 200px;
    margin-top: -100px;
    position: absolute;
    overflow: hidden;
    transform: scale(0.5) translateX(-100px);
    -webkit-transform: scale(0.5) translateX(-100px);
    -moz-transform: scale(0.5) translateX(-100px);
    -ms-transform: scale(0.5) translateX(-100px);
    -o-transform: scale(0.5) translateX(-100px);
}

/* 按钮背景 */
.QButtonBody {
    width: 100%;
    height: 100px;
    background-color: #aaaaaa;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    z-index: 2;
    overflow: hidden;
}

/* 白色小球 */
.WhiteBall {
    width: 85px;
    height: 85px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    position: absolute;
    top: 7px;
    left: 7px;
    overflow: hidden;
}

.WhiteBall::after,
.WhiteBall::before {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 3rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.WhiteBall::after {
    content: "💰";
}

.WhiteBall::before {
    content: "☕️";
    opacity: 0;
}

/* 打开后 */
.ButtonBgColor {
    background-color: #2eec71;
}

.WhiteBallOn {
    left: 100%;
    margin-left: -90px;
}

.WhiteBallOn::after {
    opacity: 0;
}

.WhiteBallOn::before {
    opacity: 1;
}

/* 熊整体 */
.QPig {
    position: absolute;
    top: 120px;
    right: 30px;
    z-index: 1;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
}

/* 头部 */
.QpigHead {
    width: 85px;
    height: 85px;
    position: relative;
}

/* 头部背景 */
.QpigHeadBg {
    width: 100%;
    height: 100%;
    background-color: #784421;
    border-radius: 60% 60% 70% 70%;
    -webkit-border-radius: 60% 60% 70% 70%;
    -moz-border-radius: 60% 60% 70% 70%;
    -ms-border-radius: 60% 60% 70% 70%;
    -o-border-radius: 60% 60% 70% 70%;
    position: relative;
    z-index: 2;
}

/* 眼睛 */
.QpigHeadBg::after,
.QpigHeadBg::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 30px;
}

.QpigHeadBg::after {
    left: 20px;
}

.QpigHeadBg::before {
    right: 20px;
}

/* 耳朵 */
.QpigEars {
    width: 25px;
    height: 25px;
    background-color: #e9c6af;
    /* background-color: #ff6600; */
    border: 5px solid #784421;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.QpigEars1 {
    left: -10px;
}

.QpigEars2 {
    right: -10px;
}

/* 居中 */
.QpigMouth,
.QpigMouth::after,
.QPigBody {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* 眉毛 */
.QPigeyebrow {
    width: 100%;
    position: absolute;
    top: 20px;
    z-index: 2;
    display: none;
}

.QPigeyebrow::after,
.QPigeyebrow::before {
    content: "";
    display: block;
    width: 23px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 0;
}

.QPigeyebrow::after {
    left: 10px;
    transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
}

.QPigeyebrow::before {
    right: 10px;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
}

/* 嘴巴 */
.QpigMouth {
    width: 65%;
    height: 35%;
    background-color: #e9c6af;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    bottom: 0;
    z-index: 3;
    overflow: hidden;
}

/* 鼻子 */
.QpigMouth::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 70%;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    -ms-border-radius: 70%;
    -o-border-radius: 70%;
    position: absolute;
    top: -18px;
}

/* 身体 */
.QPigBody {
    width: 80px;
    height: 70px;
    background-color: #784421;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    bottom: -60%;
}

/* 手手 */
.hand {
    width: 30px;
    height: 20px;
    background-color: #784421;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    right: -40px;
    top: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* 熊熊动画 */
/*
    top：
    20：全漏
    50：露头
    120：隐藏
*/
.QPigAni1 {
    animation: QPigAni1 3.5s ease-in-out 1;
    -webkit-animation: QPigAni1 3.5s ease-in-out 1;
}

.QPigAni2 {
    animation: QPigAni2 3.5s ease-in-out 1;
    -webkit-animation: QPigAni2 3.5s ease-in-out 1;
}

.QPigHeadOpen {
    top: 50px;
}

@keyframes QPigAni1 {
    0% {
        top: 120px;
    }

    10% {
        top: 50px;
    }

    90% {
        top: 50px;
    }

    100% {
        top: 120px;
    }
}

@keyframes QPigAni2 {
    0% {
        top: 50px;
    }

    10% {
        top: 20px;
    }

    90% {
        top: 20px;
    }

    100% {
        top: 120px;
    }
}

/* 手手动画 */
/*
    right:
    35：隐藏
    15：伸手
*/
.handAni {
    animation: handAnimation 1s linear 0.3s 1;
    -webkit-animation: handAnimation 1s linear 0.3s 1;
}

@keyframes handAnimation {
    0% {
        right: -40px;
        transform: translateY(-50%) scale(1.5);
        -webkit-transform: translateY(-50%) scale(1.5);
        -moz-transform: translateY(-50%) scale(1.5);
        -ms-transform: translateY(-50%) scale(1.5);
        -o-transform: translateY(-50%) scale(1.5);
    }

    30% {
        right: -15px;
        transform: translateY(-50%) scale(1.5);
        -webkit-transform: translateY(-50%) scale(1.5);
        -moz-transform: translateY(-50%) scale(1.5);
        -ms-transform: translateY(-50%) scale(1.5);
        -o-transform: translateY(-50%) scale(1.5);
    }

    60% {
        right: -15px;
        transform: translateY(-50%) scale(1.5);
        -webkit-transform: translateY(-50%) scale(1.5);
        -moz-transform: translateY(-50%) scale(1.5);
        -ms-transform: translateY(-50%) scale(1.5);
        -o-transform: translateY(-50%) scale(1.5);
    }

    65% {
        right: -15px;
        transform: translateY(-50%) scale(0.8);
        -webkit-transform: translateY(-50%) scale(0.8);
        -moz-transform: translateY(-50%) scale(0.8);
        -ms-transform: translateY(-50%) scale(0.8);
        -o-transform: translateY(-50%) scale(0.8);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }

    70% {
        right: -15px;
        transform: translateY(-50%) scale(1.5);
        -webkit-transform: translateY(-50%) scale(1.5);
        -moz-transform: translateY(-50%) scale(1.5);
        -ms-transform: translateY(-50%) scale(1.5);
        -o-transform: translateY(-50%) scale(1.5);
    }

    100% {
        right: -40px;
        transform: translateY(-50%) scale(1.5);
        -webkit-transform: translateY(-50%) scale(1.5);
        -moz-transform: translateY(-50%) scale(1.5);
        -ms-transform: translateY(-50%) scale(1.5);
        -o-transform: translateY(-50%) scale(1.5);
    }
}

/* 儒雅随和 */
.wdnmd {
    padding: 5px;
    background-color: white;
    position: absolute;
    top: 25px;
    left: -80px;
    font-size: 0.8rem;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    display: none;
    color: black;
}

@media screen and (max-width: 650px) {
    #main {
        width: 90%;
        padding-top: 10%;
    }

    .payBox img {
        height: 150px;
    }
}
