<!--
 * @Author: N0ts
 * @Date: 2023-06-28 11:59:09
 * @Description: 请我喝咖啡
 * @FilePath: /SupportMe/index.html
 * @Mail：mail@n0ts.top
-->

<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>支持我 | 请 N0ts 喝杯☕️</title>
        <meta name="description" content="支持 N0ts 的开源项目，请我喝一杯咖啡" />
        <link rel="icon" href="./favicon.ico" />
        <link rel="stylesheet" href="./css/main.css" />
    </head>

    <body>
        <div id="main">
            <!-- 加载动画 -->
            <div id="loading" :class="{ loadingClose: !loading }">
                <div>
                    <p>☕️</p>
                    <p>loading...</p>
                </div>
            </div>

            <!-- 两栏布局容器 -->
            <div class="layout">
                <!-- 左侧：个人介绍 -->
                <aside class="sidebar animate-in">
                    <div class="profile-card">
                        <h1>N0ts 🤪</h1>
                        <p class="role">前端开发者 🛠</p>
                        <div class="bio">
                            <p>我一直热衷于开发一些自己感兴趣以及对大家有帮助的玩意 🔨</p>
                            <p>并且坚持开源免费的道路，主打与更多的伙伴互相学习共同提升 ✌</p>
                        </div>
                        <div class="divider"></div>
                        <div class="appeal">
                            <p>如果喜欢我的作品，请给我点个 Star ⭐️</p>
                            <p>或提出您的宝贵建议 📝</p>
                            <p>也可以请我喝杯咖啡 ☕️</p>
                        </div>
                        <div class="dbtn" @click="payDialog = true">👉 请我喝咖啡</div>
                    </div>
                </aside>

                <!-- 右侧：项目和支持者 -->
                <main class="content">
                    <!-- 项目列表 -->
                    <section class="section animate-in delay-1">
                        <h2 class="section-title">开源项目 💻</h2>
                        <div class="projects-wrapper">
                            <div class="projects" :class="{ collapsed: !projectsExpanded }">
                                <a 
                                    v-for="(item, index) in projects" 
                                    :key="index" 
                                    :href="item.html_url" 
                                    target="_blank"
                                >
                                    <p class="name">{{ item.name }}</p>
                                    <p class="star">⭐ {{ item.stargazers_count }}</p>
                                    <p class="description">{{ item.description }}</p>
                                    <p class="owner" v-if="item.owner">{{ item.owner }}</p>
                                </a>
                            </div>
                            <div 
                                class="expand-btn" 
                                @click="projectsExpanded = !projectsExpanded"
                                v-if="projects.length > 6"
                            >
                                {{ projectsExpanded ? '收起 ↑' : '展开更多 (' + (projects.length - 6) + ' 个) ↓' }}
                            </div>
                        </div>
                    </section>

                    <!-- 支持者列表 -->
                    <section class="section animate-in delay-2">
                        <h2 class="section-title">支持者 ☕️</h2>
                        <p class="section-desc">请我喝过咖啡的小伙伴们（喜欢喝冰美式，10￥一杯）</p>
                        <div class="checkView">
                            <!-- 点不开的按钮彩蛋 -->
                            <div id="QButton">
                                <div class="QButtonBody">
                                    <div class="WhiteBall"></div>
                                    <div class="hand"></div>
                                </div>
                                <div class="QPig">
                                    <div class="wdnmd">*&%#@!^</div>
                                    <div class="QpigHead">
                                        <div class="QpigHeadBg"></div>
                                        <div class="QpigEars QpigEars1"></div>
                                        <div class="QpigEars QpigEars2"></div>
                                        <div class="QPigeyebrow"></div>
                                        <div class="QpigMouth"></div>
                                        <div class="QPigBody"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="friends">
                            <div 
                                v-for="(item, index) in supportList" 
                                :key="index" 
                                @click="selectFriend(item)"
                            >
                                <div class="header">
                                    <img :src="item.img" :alt="item.name" />
                                    <p>{{ item.name }}</p>
                                    <div class="priceAndCoffee">
                                        <p class="price" :class="{coffeeShow: !coffeeShow}">{{ item.money }}￥</p>
                                        <p class="coffee" :class="{coffeeShow: coffeeShow}">{{ item.coffeeNum }}☕️</p>
                                    </div>
                                </div>
                                <div class="footer" v-if="item.msg">
                                    <p>{{ item.msg }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="empty-tip" v-if="supportList.length === 0">
                            暂时还没有小伙伴支持，成为第一个吧~
                        </div>
                    </section>
                </main>
            </div>

            <!-- 支付弹窗 -->
            <div class="pay" :class="{ payShow: payDialog }" @click="payDialog = false">
                <div class="payBox" :class="{ payBoxShow: payDialog }" @click.stop="payDialog = true">
                    <p class="title">☕️ 请我喝一杯咖啡吧~</p>
                    <div class="content">
                        <p>感谢您的支持，您可以通过以下方式请我喝一杯咖啡，让我更有动力继续创作！</p>
                        <p>PS：留下自己的昵称与一句话，让我记住各位~</p>
                        <div class="pay-methods">
                            <div class="pay-item" @click.stop="viewImage('./images/wechat.jpg')">
                                <span class="pay-icon">💚</span>
                                <span>微信支付</span>
                            </div>
                            <div class="pay-item" @click.stop="viewImage('./images/alipay.jpg')">
                                <span class="pay-icon">💙</span>
                                <span>支付宝</span>
                            </div>
                            <div class="pay-item" @click.stop="viewImage('./images/qq.jpg')">
                                <span class="pay-icon">🐧</span>
                                <span>QQ支付</span>
                            </div>
                        </div>
                    </div>
                    <div class="dbtn" @click.stop="payDialog = false">关闭</div>
                </div>
            </div>

            <!-- 图片查看器 -->
            <div class="image-viewer" :class="{ show: viewingImage }" @click="viewingImage = null">
                <div class="viewer-content" @click.stop>
                    <img :src="viewingImage" v-if="viewingImage" />
                    <div class="viewer-close" @click="viewingImage = null">✕</div>
                </div>
            </div>

            <!-- 支持者详情弹窗 -->
            <div class="pay" :class="{ payShow: friendShow }" @click="friendShow = null">
                <div class="payBox" :class="{ payBoxShow: friendShow }" @click.stop="() => {}">
                    <div v-if="friendShow">
                        <p class="title">
                            <img :src="friendShow.img" :alt="friendShow.name" />
                            <span>{{ friendShow.name }}</span>
                        </p>
                        <div class="content">
                            <p v-if="friendShow.msg != ''">{{ friendShow.msg }}</p>
                            <p v-else>这个家伙没有留下任何留言</p>
                        </div>
                        <div class="dbtn" @click.stop="friendShow = null">关闭</div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="./js/vue.global.min.js"></script>
    <script src="./js/md5.min.js"></script>
    <script src="./js/data.js"></script>
    <script src="./js/main.js"></script>
</html>
