@import "./theme.less";

* {
    margin: 0;
    padding: 0;
}

html,
body,
#main {
    height: 100%;
    color: var(--font-color);
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
}
