<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人简历 - 田琪扬</title>
    <meta name="keywords" content="关键词">
    <meta name="description" content="介绍">
    <link rel="icon" href="./favicon.ico">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.9.0/viewer.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.1/theme-chalk/index.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/lovexhj.css">
</head>

<body>
    <div id="lovexhj" v-if="lovexhj" v-cloak>
        <!-- 首页 -->
        <div class="lovexhj lovexhj1">
            <!-- 内容 -->
            <div class="lovexhjContent lovexhj1Content">
                <div>
                    <div class="ContentTitle">
                        <span>{{lovexhj.index.title}}</span>
                        <span class="lovexhj1Typet"></span>
                    </div>
                    <div class="ContentSubTitle">{{lovexhj.index.subTitle}}</div>
                    <ul class="ContentContact">
                        <li v-for="(item, index) in lovexhj.index.contact" :key="index">
                            <a :href="item.link" target="_blank">
                                <el-tooltip :content="item.name" placement="bottom" effect="light">
                                    <i :class="'fa ' + item.icon"></i>
                                </el-tooltip>
                            </a>
                        </li>
                    </ul>
                    <div class="lovexhj1LoadMore">
                        <div class="loadMore" @click="scrollGoTo(lovexhj.index.loadMore.class)">
                            {{lovexhj.index.loadMore.text}}</div>
                    </div>
                </div>
            </div>
            <!-- 壁纸 -->
            <div class="lovexhjBg lovexhj1Bg"></div>
        </div>
        <!-- 个人简介 -->
        <div class="lovexhj lovexhj2">
            <!-- 内容 -->
            <div class="lovexhjContent lovexhj2Content">
                <div>
                    <p class="lovexhj2ContentTitle">{{lovexhj.about.title}}</p>
                    <div class="lovexhj2ContentMe">
                        <div class="lovexhj2ContentImg">
                            <img :src="lovexhj.about.laozi.img" :alt="lovexhj.about.laozi.img">
                        </div>
                        <div class="lovexhj2ContentText">
                            <div v-html="lovexhj.about.laozi.content" class="lovexhj2ContentTextBox"></div>
                            <ul>
                                <li v-for="(item, index) in lovexhj.about.ability"
                                    :style="'border-top: 5px solid ' + item.color">
                                    <i :class="'fa ' + item.icon "></i>
                                    <span :style="'color:' + item.color">{{item.bfb}}</span>
                                    <p>{{item.title}}</p>
                                    <p>{{item.subTitle}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="lovexhj2LoadMore">
                        <div class="loadMore" @click="scrollGoTo(lovexhj.about.loadMore.class)">
                            {{lovexhj.about.loadMore.text}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 项目介绍 -->
        <div class="lovexhj lovexhj3">
            <div class="lovexhjContent lovexhj3Content">
                <div>
                    <p class="lovexhj2ContentTitle">{{lovexhj.project.title}}</p>
                    <div class="lovexhj3ContentList">
                        <div class="lovexhj3ContentBox" v-for="(item, index) in lovexhj.project.list" :key="index">
                            <img :src="item.img" :alt="item.img">
                            <div class="lovexhj3ContentBoxText">
                                <div>
                                    <p class="lovexhj3ContentTitle">{{item.name}}</p>
                                    <ul>
                                        <li v-for="(nb, index) in item.nb" :key="index">
                                            {{nb}}
                                            <span v-if="index != item.nb.length - 1">+</span>
                                        </li>
                                    </ul>
                                    <p class="lovexhj3ContentText">{{item.text}}</p>
                                    <div class="lovexhj3ContentBtn" @click="showProject(index)">
                                        {{lovexhj.project.listLoadMore}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="lovexhj3ContentBoxTc"></div>
                        <div class="lovexhj3ContentBoxTc"></div>
                    </div>
                    <div class="lovexhj3LoadMore">
                        <div class="loadMore" @click="scrollGoTo(lovexhj.project.loadMore.class)">
                            {{lovexhj.project.loadMore.text}}</div>
                    </div>
                </div>
            </div>
            <el-dialog :title="lovexhj.project.list[projectIndex].name" :visible.sync="projectDialog"
                append-to-body="true" modal-append-to-body="true">
                <a :href="lovexhj.project.list[projectIndex].url" class="lovexhj3ContentBtn" target="_blank">点我查看</a>
                <div v-html="lovexhj.project.list[projectIndex].content"></div>
            </el-dialog>
        </div>
        <!-- 联系我 -->
        <div class="lovexhj lovexhj4">
            <!-- 壁纸 -->
            <div class="lovexhjBg lovexhj4Bg"></div>
            <!-- 内容 -->
            <div class="lovexhjContent lovexhj4Content">
                <div>
                    <p class="lovexhj2ContentTitle">{{lovexhj.contact.title}}</p>
                    <ul>
                        <li v-for="(item, index) in lovexhj.contact.list">
                            <p class="lovexhj4ItemTitle">{{item.name}}</p>
                            <p class="lovexhj4ItemContext">{{item.context}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- js 引用 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/viewerjs/1.9.0/viewer.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.15.1/index.min.js"></script>
    <script src="./js/lovexhj.js" type="module"></script>
</body>

</html>